@page
@using Frontend.Pages
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" href="~/css/dashboard.css" />

<h1>Liste des Docteurs</h1>
<table class="data-table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Is Organizer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model.Doctors)
        {
            <tr>
                <td>@doctor.Email</td>
                <td>@(doctor.IsOrganizer ? "Oui" : "Non")</td>
            </tr>
        }
    </tbody>
</table>

<h1>Liste des Patients</h1>
<table class="data-table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
            <th>Genre</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Id</th>
            <th>Risque</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td>@patient.Name</td>
                <td>@patient.FirstName</td>
                <td>@patient.BirthDay.ToString("dd/MM/yyyy")</td>
                <td>@patient.GenderText</td>
                <td>@patient.Adress</td>
                <td>@patient.Phone</td>
                <td>@patient.Id</td>
                <td>@patient.Risk</td>
            </tr>
        }
    </tbody>
</table>

<h1>Liste des Notes</h1>
<table class="data-table">
    <thead>
        <tr>
            <th>Note</th>
            <th>Id patient</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model.Notes)
        {
            <tr>
                <td>@note.Comment</td>
                <td>@note.PatientId</td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="/PatientList">Vue normale</a>
